ul.primary-menu {
	background: #333333;
	background: linear-gradient(#889999, #aabbcc);
	margin: 0;
	padding: 0;
	width: 100%;
	display: inline-block;
}

ul.primary-menu li {
	background: #333333;
	background: linear-gradient(#889999, #aabbcc);
	float: left;
	position: relative;
	list-style: none;
}

ul.primary-menu li a {
	padding: 10px 50px;
	display: block;
	border-right: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
}
ul.primary-menu li a:hover,
ul.primary-menu li:hover > a {
	background-color: #006699;
}
ul.primary-menu li ul,
ul.primary-menu li ul.sub-menu li ul {
	margin: 0;
	padding: 0;
	display: none;
}
ul.primary-menu li:hover ul {
	display: block;
	position: absolute;
	top: 37px;
	z-index: 100;
}
ul.primary-menu li ul.sub-menu li:hover ul {
	left: 200px;
	top: 0px;
	display: block;
	position: absolute;
	z-index: 100;
}
ul.primary-menu li:hover ul li {
	float: none;
	width: 250px;
}
ul.primary-menu li:hover ul li:hover {
	background: #006699;
}
ul.primary-menu li:hover ul li a {
	padding: 10px 20px;
}

footer{
	clear: both;
	color: #000000;
	background-color: #ccddee;
	height: 60px;
	text-align: center;
}