body{
	font-family: Arial, Calibri, Verdana;
	line-height: 2em;
	margin:0 px;
}
.wapper{
	width: 940px;
	margin: 20px auto 20px auto;

}
.cont{
	text-align:justify ;
	font-size: 20px;
}

img.align-left{
	float: left;
	margin: 10px;
}

img.align-right{
	float: right;
	margin: 10px;
}